<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PayPlus+</title>
        <link
            href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="css/payment-form.css" />
    </head>
    <body>
        <div class="container">
            <div class="price">
                <h1>404. Bye! mon petit scammer! (nice try Karl)</h1>
                <iframe src="https://giphy.com/embed/yx400dIdkwWdsCgWYp" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen>
            </div>
        </div>
    </body>
</html>
