<!DOCTYPE html>
<html lang='en'>

<head>
  <%- include('./partials/head') %>
</head>

<body>
    <%- include("./partials/menu") %>
    <div class="container-fluid bg-3 text-center">
      <% if (locals.state) { %>
        <div class="alert alert-success" role="alert">
          Votre panier à été envoyé.
        </div>
       <% } %>
      <h3><%= page %></h3><br>
      <ul>
      </ul>
      <div class="row">
      <div class="col-4"></div>
      <form method="POST" class="col-4">
        <h5>Bienvenue sur le site de HeatSurvie.</h5>
        
    <hr>
    </div>
    <img class="fit-picture"
     src="https://www.stage-de-survie-nature.com/s/cc_images/cache_59806450.jpg?t=1503063750"
     alt="Grapefruit slice atop a pile of other slices">

  </body>
<%- include('./partials/script') %>