<!DOCTYPE html>
<html lang='en'>

<head>
  <%- include('./partials/head') %>
</head>

<body>
    <%- include("./partials/menu") %>
    <div class="container-fluid bg-3 text-center">

        <div class="alert alert-info" role="alert">
          <b>Aucune transaction n'a été effectué, votre commande à été annulée ! <b>
        </div>

      <h3><%= page %></h3><br>
      <ul>
      </ul>
     
    <img class="fit-picture"
     src="https://www.stage-de-survie-nature.com/s/cc_images/cache_59806450.jpg?t=1503063750"
     alt="Grapefruit slice atop a pile of other slices">

  
  </div>

  </body>
<%- include('./partials/script') %>